:global(.navbar.bg-body-tertiary) {
    background-color: rgba(255, 0, 0, 0) !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Search Candidate: */
:global(.navbar-brand) {
    color: var(--white) !important;
    font-weight: bold !important;

    display: flex;
    justify-content: center;
    border-radius: 10px;

    margin: 10px;
    width: 200px;
    background-color: #154da6;
}

/* Form */
:global(.d-flex) {
    margin-bottom: 0.5%;
}

:global(.btn) {
    background-color: #154da6 !important;
    color: var(--white) !important;
    font-weight: bold !important;
}

:global(.btn:hover) {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

:global(.btn:active) {
    background-color: #154da6 !important;
    color: var(--white) !important;
}

:global(.card) {
    max-width: 204px;
    max-height: 400px;
    border-radius: 20px !important;
    border: 2px solid #e0e0e0 !important;

    margin: 5% 10%;
}

:global(.card-body) {
    display: flex;
    justify-content: center;
    padding: 2px 10px !important;
}

:global(.card-title) {
    font-weight: bold;
    color: var(--blue) !important;
}

:global(.card-img-bottom) {
    width: 166px !important;
    height: 166px !important;
    margin: 10px;
    object-fit: cover; /* Crop image /wo stretching */
    border-radius: 16px !important;
}