:global(.formContainer) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 2.4% auto;
    padding: 4%;

    width: clamp(40%, 60%, 80%);
    height: clamp(20%, 40%, 60%);

    background: rgba(18, 77, 173, 0.8) !important;
    box-shadow: 0 0px 20px rgba(10, 61, 145, 0.8) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 2px solid rgba(10, 61, 145, 1) !important;
}

:global(.form-select-petition) {
    max-width: 40%;
}

:global(.inputEmailAddress) {
    width: 54%;
    margin: 1% 0;
}

:global(.inputMessage) {
    width: clamp(40%, 100%, 100%);
    margin: 1% 0;
}

:global(.btn.btn-primary) {
    margin: 10% 0 1% 0;
}

/* Removes resizable textarea */
:global(textarea) {
    resize: none !important;
}

/* LABEL */
:global(.form-label) {
    color: var(--white);

    font-size: large;
    font-weight: bold;
}