:global(.accordion) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;

  margin: 1% auto;
  padding: 4%;

  --bs-accordion-active-bg: rgba(10, 61, 145, 1) !important;
  --bs-accordion-bg: rgba(255, 199, 44, 1) !important;
}

:global(.accordion-button) {
  font-weight: bold !important;
  color: var(--white) !important;
}

:global(.accordion-button.collapsed) {
  color: var(--bg-darkblue) !important;
}