:root {
  --blue: #0A3D91;
  --red: #C8102E;
  --yellow: #FFC72C;
  --white: #FFFFFF;
  --black: #000000;
}

body {
  background-image: url("/background-page.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.pageTitle {
  color: var(--white);
  font-size: 4.5rem;
  background-color: var(--yellow);
  border-bottom: 4px groove RGBA(254, 209, 65, 0.6);
  text-shadow: 3px 3px 0px rgba(212, 170, 35, 0.8);

  font-weight: bolder;

  display: flex;
  justify-content: center;
  width: 100%;

  margin: 0;
}

strong {
  color: var(--white) !important;
}
