:root {
  --blue: #0032A0;
  --red: #BF0D3E;
  --white: #FFFFFF;
  --yellow: #FED141;
  --black: #000000;
}

.header {
  background-color: var(--red);
}

.pageTitle {
  color: var(--white);
  font-size: 4.5rem;
  background-color: var(--yellow);
  border-bottom: 4px groove RGBA(254, 209, 65, 0.6);
  text-shadow: 3px 3px 0px rgba(212, 170, 35, 0.8);

  font-weight: bolder;

  display: flex;
  justify-content: center;

  padding: 0 fill;
  width: 100%;
}